.Btn {
  font-size: 24px;
  padding: 15px 30px;
  color: #000000;
  background: linear-gradient(90deg, #90ff08, #cdff05) ;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background 0.3s, color 0.3s;
  font-weight: bold; 
  align-self: center;
}

.Btn:hover {
  background: linear-gradient(90deg, #90ff08, #cdff05);
  color: #ffffff;
}
