.All_Companys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Plan {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

button.Company_Box {
    background-color: #2b2b2b;
    color: #eceff1;
    border: none;
    padding: 50px 100px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 32px;
    margin: 15px;
    position: relative;
    width: 92%;
    max-width: 600px;
}

button.Company_Box:hover {
    background: linear-gradient(90deg, #66bb6a, #ffcc80);
    color: #000000;
    font-weight: bold;
}

.Loading_Bar_Btn {
    position: absolute;
    bottom: 0;
    left: 4%;
    right: 4%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
    width: 92%;
}

#Loading_Bar_Pool_Btn {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
}

#Loading_Bar_Farm_Btn {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
}

@media (min-width: 600px) {
    .Plan {
        width: auto;
    }

    .All_Companys {
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }

    #Small_Text {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

.Open_Box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center; 
    align-items: center;
}

.Open_Box_Content { 
    background: #263238;
    padding: 30px; 
    border-radius: 10px;    
    text-align: center; 
    width: 400px;  
    max-width: 90%;
    color: white;
}



.Close_Btn {
    font-size: 24px;
    color: #eceff1;
    background-color: #ff5252;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: right;
}

.Loading_Bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin: 10px 0;
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#Loading_Bar_Pool {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
}

#Loading_Bar_Farm {
    background: linear-gradient(90deg, #26c6da, #66bb6a, #ef5350, #ab47bc);
}

.Investments_Details {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-weight: bold;
    font-size: larger; 
}
 
#Small_Text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    #Small_Text {
        margin-top: 15px;
    }
}
